@model IEnumerable<IdmhProject.Models.Blog>

<div class="blog-container">
    <h1>Blog</h1>
    <style>
        h1 {
            font-family: 'Playfair Display', serif;
            text-align: center;
            color: black;
            margin-bottom: 20px;
        }

        .post-content h2 {
            font-size: 1.3rem;
            margin: 0.5em 0;
        }
    </style>
    <div class="blog-posts">
        @foreach (var blog in Model)
        {
            <div class="blog-post">
                <div class="post-image">
                    @{
                        // Resim URL'sini ayarlama
                        var imageUrl = blog.Image.Split(',')[0].Trim(); // Sadece ilk resmi al
                    }
                    <img src="@imageUrl" alt="@blog.Title" />
                </div>
                <div class="post-content">
                    <h2>@blog.Title</h2>
                    <span class="post-date">
                        <time class="entry-date" datetime="@blog.PublishedDate.ToString("yyyy-MM-ddTHH:mm:ss+00:00")">
                            @blog.PublishedDate.ToString("MMMM yyyy")
                        </time>
                    </span>
                    <p>@blog.Content.Substring(0, Math.Min(blog.Content.Length, 100))...</p>
                    <a href="@Url.Action("BlogDetails", "Home", new { id = blog.Id })" class="read-more">Devamını Oku</a>
                </div>
            </div>
        }
    </div>
</div>
