@model IdmhProject.Models.Blog

<div class="blog-details-container">
    <h1>@Model.Title</h1>
    <div class="post-meta">
        <i class="fa fa-clock-o"></i>
        <time class="entry-date" datetime="@Model.PublishedDate.ToString("o")">@Model.PublishedDate.ToString("MMMM yyyy")</time>
    </div>

    <div class="post-image">
        <img src="@Model.Image.Split(',')[0]" alt="@Model.Title" />
    </div>
    <div class="post-content">
        <p>@Model.Content</p>
    </div>

    <a href="@Url.Action("Blog", "Home")" class="back-button">Geri Dön</a>
</div>
