@model Project

@using (Html.BeginForm("Create", "Project", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div>
        @Html.LabelFor(model => model.Title)
        @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
    </div>

    <div>
        @Html.LabelFor(model => model.Description)
        @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
    </div>

    <div>
        @Html.LabelFor(model => model.ImageFile)
        <input type="file" asp-for="ImageFile" class="form-control" />
    </div>

    <div>
        @Html.LabelFor(model => model.CategoryId)
        @Html.DropDownListFor(model => model.CategoryId, (SelectList)ViewBag.Categories, "Select a category", new { @class = "form-control" })
    </div>

    <div>
        @Html.LabelFor(model => model.TeamMember)
        @Html.TextBoxFor(model => model.TeamMember, new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
}
