@model IEnumerable<IdmhProject.Models.Project>

@{
    ViewData["Title"] = "Index";
    Layout = "_AdminLayout";
}



<p>
    <a href="/Projects/Create" class="btn btn-dark">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.TeamMember)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
                <td>
                    @if (!string.IsNullOrEmpty(item.Image))
                    {

                        var images = item.Image.Split(',');


                        foreach (var image in images)
                        {
                            <img src="~/ProjectImages/@image" alt="@item.Title" style="width:100px; height:auto; margin-right: 10px;" />
                        }
                    }
                    else
                    {
                        <span>Fotoğraf yok</span>
                    }
                </td>
                <td>
                    @if (!string.IsNullOrEmpty(item.Image2))
                    {

                        var images = item.Image.Split(',');


                        foreach (var image in images)
                        {
                            <img src="~/ProjectImages/@image" alt="@item.Title" style="width:100px; height:auto; margin-right: 10px;" />
                        }
                    }
                    else
                    {
                        <span>Fotoğraf yok</span>
                    }
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.TeamMember)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
                <td>
                    <a href="@($"/Projects/Edit/{item.Id}")" class="btn btn-dark d-block mb-2">Edit</a>
                   
                    <a href="@($"/Projects/Delete/{item.Id}")" class="btn btn-dark d-block">Delete</a>
                </td>

        </tr>
}
    </tbody>
</table>
