@model IEnumerable<IdmhProject.Models.TeamMember>

@{
    ViewData["Title"] = "Index";
    Layout = "_AdminLayout";
}



<p>
    <a asp-action="Create" class="btn btn-dark">Create New</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bio)
            </td>
                <td>
                    @if (!string.IsNullOrEmpty(item.Image)) // item.Image kontrolü
                    {
                        <img src="~/Ekip/@item.Image" alt="@item.Name" style="width:100px; height:auto; margin-right: 10px;" />
                    }
                    else
                    {
                        <span>No image available</span> <!-- Resim yoksa mesaj göster -->
                    }
                </td>

            <td>
                    <div class="btn-group-vertical">
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-dark">Edit</a>
                       
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-dark">Delete</a>
                    </div>
            </td>
        </tr>
}
    </tbody>
</table>
<style>
    .btn-group-vertical {
        display: flex;
        flex-direction: column; /* Butonları dikey dizme */
        gap: 5px; /* Butonlar arasındaki boşluk */
    }

    .btn {
        background-color: black; /* Buton arka plan rengi siyah */
        color: white; /* Buton yazı rengi beyaz */
        border: none; /* Kenarlıkları kaldır */
        padding: 5px 10px; /* İç boşluk */
        text-decoration: none; /* Alt çizgiyi kaldır */
        border-radius: 5px; /* Kenar yuvarlama */
        text-align: center; /* Yazıyı ortala */
    }

        .btn:hover {
            background-color: darkgray; /* Üzerine gelindiğinde arka plan rengi */
        }
</style>
