@model IEnumerable<IdmhProject.Models.Category>

@{
    ViewData["Title"] = "Index";
    Layout = "_AdminLayout";
}



<p>
    <a href="/admin/Categories/Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParentCategory)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParentCategory.Id)
            </td>
            <td>
                <a href="/Categories/Edit" asp-route-id="@item.Id">Edit</a> |
                
                <a href="/Categories/Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
