@model IEnumerable<IdmhProject.Models.Blog>

@{
    ViewData["Title"] = "Index";
    Layout = "_AdminLayout";
}


<p>
    <a href="/Blogs/Create" class="btn btn-dark">Create New</a>
</p>


<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublishedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PublishedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author.Id)
                </td>
                <td>
                    @if (!string.IsNullOrEmpty(item.Image))
                    {

                        var images = item.Image.Split(',');


                        foreach (var image in images)
                        {
                            <img src="~/BlogImages/@image" alt="@item.Title" style="width:100px; height:auto; margin-right: 10px;" />
                        }
                    }
                    else
                    {
                        <span>Fotoğraf yok</span>
                    }
                </td>
                <td>
                    <div class="btn-group-vertical">
                        <a href="/Blogs/Edit/@item.Id" class="btn btn-dark">Edit</a>
                        <a href="/Blogs/Delete/@item.Id" class="btn btn-dark">Delete</a>
                    </div>

                </td>
            </tr>
        }
    </tbody>
</table>
<style>
    .btn-group-vertical {
        display: flex;
        flex-direction: column; /* Butonları dikey dizme */
        gap: 5px; /* Butonlar arasındaki boşluk */
    }

    .btn {
        background-color: black; /* Buton arka plan rengi siyah */
        color: white; /* Buton yazı rengi beyaz */
        border: none; /* Kenarlıkları kaldır */
        padding: 5px 10px; /* İç boşluk */
        text-decoration: none; /* Alt çizgiyi kaldır */
        border-radius: 5px; /* Kenar yuvarlama */
        text-align: center; /* Yazıyı ortala */
    }

        .btn:hover {
            background-color: darkgray; /* Üzerine gelindiğinde arka plan rengi */
        }
</style>
